@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

nav {
}
.list-projects {

    display:flex;
    justify-content:right;}

.project-item {

    background: deeppink;
    padding:10px;
    margin:10px;
}
.list-item {
  display: flex;
}

.list-item>* {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.form-hidden {
    display:none;
}

.show-form {
    position:absolute;
    background-color:yellow;
    height:100vw;
    width: 100vw;
    top:0;
    z-index:10;
}
.mouse-cursor-gradient span {
  position: relative;
}

.mouse-cursor-gradient::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, rgb(199, 139, 235), transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.3s ease;
}

.mouse-cursor-gradient:hover::before {
  --size: 200px;
}

.todo-create {
  width: 100%;
}

.mouse-cursor-gradient, input[type="submit"] {
  position: relative;
  outline: none;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  font-size: 1.2em;
  color: #fff;
  border: 1px solid rgb(241, 57, 72);
  box-shadow: 0 2px 0 0 rgba(252, 87, 101, 0.829);
  background-color: rgb(241, 36, 53);
  cursor: pointer;
  color: #fff;
  overflow: hidden;
}

.mouse-cursor-gradient:hover, input[type="submit"]:hover {
  box-shadow: none;
  border: 2px solid rgb(241, 57, 72);
}

.radio {
  margin-right: 15px;
}

input[type="checkbox"] {
  --dimen: 30px;
  width: var(--dimen);
  height: var(--dimen);
  position: relative;
  z-index: 3;
}

form {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  height: 550px;
  justify-content: space-around;
  margin: 20px auto;
}

form>* {
  margin-bottom: 7px;
}

form input:not(.border) {
  display: block;
  border-color: none;
  outline: none;
  border-style: none;
  border-bottom: 1px solid gray;
}

.choose-project {
  border: 1px solid rgb(241, 36, 53);
  border-radius: 10px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
}

.list-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: rgba(252, 87, 101, 0.829);
  border-top: 2px solid #000;
  border-bottom: 1px solid #9b0707;
  border-radius: 2px;
  box-shadow: 0 0 200px rgba(0, 0, 0, .43) inset;
  word-spacing: normal;
  margin-bottom: 5px;
}

.list-item::before {
  --width: 0;
  content: "";
  position: absolute;
  top: 50%;
  width: var(--width);
  height: 5px;
  transition: width 0.5s;
  background-color: rgba(252, 87, 101, 0.829);
}

.task-item {
  display: flex;
  align-items: center;
}
